@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "List history orders placed by ";
}
<h4>Danh sách đơn hàng</h4>
<style>
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }
</style>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Tên</th>
            <th scope="col">Thời gian đặt</th>
            <th scope="col">Trạng thái đơn hàng</th>
            <th scope="col">Quản lý</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="td">
                <th scope="row">@item.Id</th>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if(item.Status == 2)
                    {
                        <span class="text text-primary">Đã xử lý</span>
                    }else{
                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>
                    @if(item.Status != 3)
                    {
                        <a asp-action="CancelOrder" class="btn btn-danger btn-sm" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Hủy đơn hàng</a>
                    }
                </td>
            </tr>
        }


    </tbody>
</table>